body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo {
    width: 85px;
    position: absolute;
    left: 40px;
    top: 30px;
    z-index: 1;
}

#mainform {
    position: absolute;
    left: 25%;
    width: 270px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#mainform>p{
    font-size: .75rem;
}